---
layout: default
main_title: コミットへのコメントサービス
sub_title:
---

<div class="note">
	<h3>改良版サービスのおしらせ</h3>
	<p>現在は、本サービスの改良版を「<a href="code-reader/">コードリーダー育成支援</a>」として提供しています。本サービスで大事にしていることはコードリーダー育成支援サービスでも同様に大事にしていますので、本サービスにご興味がありましたらお問い合わせください。開発チームにあった進め方をご提案します。トライアルを実施して理解を深めることもできます。</p>
</div>

<p>クリアコードは、よいコードを書くことを当たり前にするためには、まず「みんながみんなのコードを読む」文化にすることからはじめるのがよいと考えます。</p>
<p>そこでクリアコードは、「みんながみんなのコードを読む」文化づくりを支援する目的で、「コミットへのコメントサービス」を提供します。</p>

<h2>みんながみんなのコードを読む文化とは</h2>

<h3>みんながみんなのコードを読むとは</h3>
<p>ここでいう「みんな」とは同じ開発チームのメンバーのことです。「みんなのコードを読む」ということはコミットされたすべてのコードを読むということです。それを「みんなが」実践します。もし、コミットされたコードを読んで気になることがあったらコメントします。間違いに気づいた場合は修正します。ここでいう「コードを読む」という作業はレビューのように堅苦しいものではありません。「間違いは絶対見逃さないぞ！」という意気込みでやるものではなく、「同じ開発チームのメンバーがどのようなコードを書いているか」を共有するためにやるものです。</p>

<h3>なぜみんなのコードを読むのか</h3>
<p>よいコードを書くには、コードを読む側の視点がなければなりません。それは想像して手に入るものではなく、実際に読むことを経験して手に入るものです。みんなのコードを読む理由はコードを読む側の視点を身につけるためです。</p>
<p>よいコードの書き方を知っていると、よいコードを書くための大きな助けになります。みんながみんなのコードを読んでいれば、開発チーム内でよいコードをコミットすることにより、よいコードの書き方をみんなで共有することができます。口頭や文章での説明だけではなく、実際に動くコードでよいコードの書き方を伝える方が実践的なためより理解が進みます。そのため、みんなでみんなのコードを読みます。</p>

<h3>みんながみんなのコードを読む文化で期待される効果</h3>
<p>個人、開発チームそれぞれに次のような効果をもたらします。</p>
<dl>
	<dt>個人に対して</dt>
	<dd>
		<ul>
			<li>コードを読むことに慣れてくると、よいコードを見つけることができるようになる</li>
			<li>開発メンバーの書いたよいコードの書き方を自分のコードの書き方に取り込めるようになる</li>
			<li>読む人の視点でコードを書けるようになり、自分の書くコードが整理されて、読みやすくなる</li>
		</ul>
	</dd>
	<dt>開発チームに対して</dt>
	<dd>
		<ul>
			<li>よいコミットを共有できる</li>
			<li>開発チーム内のコードによるコミュニケーションが活発になる</li>
			<li>誤りが見つかりやすくなる</li>
			<li>よいコードを共有するための仕組みができ、新しい人にも伝えやすくなる</li>
		</ul>
	</dd>
</dl>

<h2>みんながみんなのコードを読む文化の作り方</h2>
<p>次のプロセスによりみんながみんなのコードを読む文化を作ります。</p>

<h3>1. コードの読み方を学ぶ</h3>
<p>以下の書籍や記事を読み、実際に開発チームで一緒にコードを読んで、コードの読み方を学びます。</p>
<ul>
	<li><a href="http://amzn.to/LM0TDr" title="リーダブルコード">リーダブルコード</a></li>
	<li><a href="../blog/2012/6/11.html" title="リーダブルコードの解説">リーダブルコードの解説</a></li>
	<li><a href="http://jp.rubyist.net/magazine/?0040-CodePostMortem" title="Ruby コードの感想戦 【第 1 回】 WikiR">Ruby コードの感想戦 【第 1 回】 WikiR</a></li>
	<li><a href="../blog/2012/12/18.html" title="DevLOVE 2012: 「リーダブルコードを読んだ後」 #devlove2012">DevLOVE 2012: 「リーダブルコードを読んだ後」 #devlove2012</a></li>
</ul>

<h3>2. コミットメールが流れる仕組みを作る</h3>
<p>「みんなにみんなのコードが届く」環境を作ります。</p>
<p>開発チーム全員に差分付きのコミットメールが届くよう環境を整備します。</p>
<p>コミットメールを配信する仕組みの作り方についてはクリアコードから情報提供します。</p>
<!--<p>TODO: コミットメールを配信する仕組みの作り方<a href="../blog/..." title="...">...</a>で説明しています。</p>-->

<h3>3. コミットメールを読む</h3>
<p>開発チームのメンバーそれぞれが自分のペースでコミットメールを読みます。読むことに慣れてきたら、気づいた点にコメントします。</p>
<p>コミットを読みやすくするためのアイデアを出し合うのがよいでしょう。</p>
<p>さらにメンバー全員は、以下の内容を毎日記録します。記録する方法としてコードと同じリポジトリにコミットする方法があります。</p>
<ul>
	<li>コミットメールの何割を読めたか（割合は個人の直感）</li>
	<li>印象に残ったコミット</li>
</ul>

<h3>4. 読まれることを考えてコミットする</h3>
<p>読んだ経験を活かしてコミットします。</p>
<dl>
	<dt>読みやすいコミットを実践する</dt>
	<dd>コミットのサイズを小さく、名前はわかりやすく、インデントを揃えるなど、読んだ側が理解しやすいようにするためにはどうすればよいか、自分が読んでいるときのことを思い出しながら読みやすいコードを書いてコミットします。</dd>
	<dt>よいコミットを真似する</dt>
	<dd>他のメンバーのコミットを読んでこれはよいコードだと思ったら積極的に真似をします。よいと思ったものを実践することによって、よいコードが書けるようになり、また真似をされた側は励みになります。</dd>
</dl>

<h3>5. コミットメールを読む文化がどのくらい根付いてきたか定期的に測定する</h3>
<p>「コミットメールを読むこと」と「読まれることを考えてコミットすること」がどのくらいできるようになったかをデータから分析します。1コミットあたりのサイズや1日のコミット数といったデータや、3で記録した日々のコミットが材料となります。</p>

<h2>クリアコードが提供するサービス</h2>
<p>みんながみんなのコードを読む文化をつくるのための上記プロセスに対して、以下のサービスを提供します。</p>

<h3>導入研修</h3>
<p>DevLOVE 2012でのセッション「<a href="../blog/2012/12/18.html" title="DevLOVE 2012: 「リーダブルコードを読んだ後」 #devlove2012">リーダブルコードを読んだ後</a>」と同様の内容を導入研修として実施します。</p>
<p>研修内容は以下の通りです。</p>
<ul>
	<li>みんながみんなのコードを読む文化を目指す理由と目的の共有</li>
	<li>コードの読み方の学習</li>
	<ul>
		<li>コードの読み方を例をもとに解説します。さらに実際に参加者がコードを読んでコメントすることを体験します。</li>
	</ul>
</ul>

<h3>コミットメールを読んでコメントする</h3>
<p>クリアコード担当者も開発チームと同じようにコミットを読みながら、より効果的にコミットを読めるようになるよう開発チームを支援します。</p>
<ul>
	<li>日々時間を決めてコミットを読む</li>
	<li>コミットを読んだ記録を残す（コードのリポジトリにコミットする）</li>
	<li>コミットを読みやすくするためのアドバイスをコメントする</li>
	<ul>
		<li>コミットを小さくする、わかりやすい名前をつける、インデントは揃えるなど</li>
	</ul>
	<li>コミットを読みやすくするための相談に答える</li>
</ul>

<h3>データ分析</h3>
<p>定期的に以下のデータを収集して分析し、レポートします。</p>
<ul>
	<li>1コミットあたりのサイズ</li>
	<li>1日のコミット数</li>
	<li>日々記録される読めたコミットメールの割合</li>
</ul>
<h3>サービス提供期間</h3>
<p>3ヶ月を目安とします。</p>
<p>コミットメールを読むこと、読みやすいコミットをすることを習慣づけるためには、継続することが不可欠です。3ヶ月のサービス期間で、コミットメールを読む文化の浸透を図るとともに、開発チームだけで自律的に続けられる体制となることを目指します。</p>
<h3>価格</h3>
<table>
	<thead>
		<tr>
			<th>サービス</th>
			<th>価格（消費税別）</th>
			<th>備考</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>導入研修</td>
			<td class="price">100,000円/回</td>
			<td>1回5名まで。4時間。</td>
		</tr>
		<tr>
			<td>コミットメールを読んでコメントする</td>
			<td class="price">100,000円/月</td>
			<td>担当者1名。読む時間の目安: 30分/日</td>
		</tr>
		<tr>
			<td>データ分析</td>
			<td class="price">30,000円/回</td>
			<td>毎月1回実施</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>3ヶ月トータル</th>
			<td class="price">490,000円</td>
			<td>研修1回、コメント、データ分析3ヶ月</td>
		</tr>
	</tfoot>
</table>

<h2>備考</h2>
<ul>
	<li>弊社<a href="../philosophy/development/style.html" title="開発スタイル">開発スタイル</a>に沿ったサービスとなりますので、サービス検討の際はご確認ください。</li>
	<li>本サービスを提供する理由は、<a href="../blog/2012/12/18.html" title="DevLOVE 2012: 「リーダブルコードを読んだ後」 #devlove2012">DevLOVE 2012: 「リーダブルコードを読んだ後」 #devlove2012</a>で詳しく紹介しています。</li>
	<li>本サービスの対象とする開発言語として、Ruby、C、C++を想定しています。その他の開発言語についてはお問合せください。</li>
</ul>

<h2>お問い合わせ</h2>
<p><a href="../contact/" title="お問い合わせフォーム">お問い合わせフォーム</a>からお問い合わせください。</p>
<p>ご不明な点などありましたら、お気軽にご連絡ください。</p>
