---
layout: default
main_title: milter managerサービスメニュー
sub_title: milterを使った効果的な迷惑メール対策
type: service
---

<div class='grid-x grid-padding-x'>
  <div class='cell medium-8'>
    <p>
    milterとは「mail」と「filter」を組み合わせた言葉で、迷惑メール対策用のメールフィルタを指す用語です。スパムメールやウィルスメールの増加にともなって、世の中では様々なメールフィルタが開発されており、複数のmilterを組み合わせて使うこともできるようにもなっています。
  </div>
  <div class='cell medium-4'>
    <img src="milter-manager/flexible-low-cost-anti-spam-software.png" alt="迷惑メール対策を柔軟に低コストで実現">
  </div>
</div>

<div class='grid-x grid-padding-x'>
  <div class='cell medium-8'>
    <p>
    <a href="https://milter-manager.osdn.jp/">milter manager</a>はメールフィルタを管理するためのフリーソフトウェアです。milterの適用条件を柔軟に設定したり、Webインターフェイスで設定を管理したりといった便利な機能を備えています。
  </div>
  <div class='cell medium-4'>
    <img src="milter-manager/system.png" alt="milter managerシステム構成図">
  </div>
</div>

<p>
クリアコードでは、milter managerに関連する様々なサービスを展開しています。</p>

<ul>
<li><a href="#service">提供サービス</a></li>
<li><a href="#product">milter managerの紹介</a></li>
<li><a href="#link">その他の関連サービス</a></li>
</ul>

<h2 id='service'>提供サービス</h2>

<p>
クリアコードでは、milter managerの導入から運用までのサポート、またmilter manager本体および関連製品の開発を承っています。

<table>
<tr>
<th>導入支援</th>
<td><ul>
<li>スパム対策・ウィルス対策を含めたmilter managerのインストール、設定を行います。
<li>価格は別途御見積りとなります。
</ul></td>
</tr>

<tr>
<th>運用支援</th>
<td><ul>
<li>milter managerを利用する企業様、導入するSIer様からの問い合わせにお答えします。
<li>価格: 1時間あたり1万円</li>
</ul></td>
</tr>

<tr>
<th>対策の見直し</th>
<td><ul>
<li>迷惑メールの手法は日々変化しています。去年と同じ迷惑メール対策が現在も有効とは限りません。
<li>定期的に迷惑メール対策を見直し、必要であればその時点でより効果のある迷惑メール対策に更新します。
<li>価格: 別途御見積り
</ul></td>
</tr>

<tr>
<th>開発</th>
<td><ul>
<li>milter managerに機能を追加したい、他のソフトウェアとの連携を強化したいといった開発のご要望に対応します。
<li>milter managerをライブラリとして他のソフトウェアに組み込みたいといったご要望にも対応できます。
<li>新規にmilterを開発したい、既存のmilterを変更したいといった開発も承っています。
<li>価格: 別途御見積り
</ul></td>
</tr>
</table>

<h2 id="product">milter managerの紹介</h2>

<p>
milter managerはメールフィルタを管理するためのプログラムで、SendmailやPostfixといったMTAと組み合わせて使うことができます。
<p>
製品としては次の特徴を持っています（以下の内容はPDF資料<a href="milter-manager/milter-manager.pdf">「製品紹介（PDF 1.12MB）」</a>でもご覧いただけます）。

<h3>柔軟なmilter適用</h3>

<div class='grid-x grid-padding-x'>
  <div class='cell medium-8'>
    <p>
    通常、複数のmilterを利用する場合には、登録されたmilterがすべてのメールに対して適用されます。このため、「特定のメールについて、特別なフィルタを適用したい」といった条件指定は、一般的な仕組みだと実現することが難しいものでした。
    <p>
    milter managerを使うことで、特定の条件に該当したメールに対してのみフィルタを適用させることができます。適用条件は、内蔵しているRubyインタプリタで判定するため、組織ごとのポリシーを反映したより柔軟な迷惑メール対策が可能です。
  </div>
  <div class='cell medium-4'>
    <img src="milter-manager/before-and-after.png" alt="milter managerによって柔軟に適用されるようになったmilterの動作図">
  </div>
</div>

<h3>milterの自動検出</h3>

<p>
milterはそれぞれ独立にメールシステムに組み込むことができるため、milterを組み合わせることにより、組織ごとのポリシーを反映した迷惑メール対策を実現することができます。しかし、複数のmilterを組み合わせると、それぞれのmilterを組み込むための設定が面倒になるという問題があります。
</p>

<p>
milter managerはシステムにインストールされているmilterを自動検出するため、個々のmilterを登録する必要はありません。これにより、milterを組み込む手間が軽減され、milterを組み合わせる煩わしさなしにmilterを組み合わる利点を得られます。
</p>

<p>
また、登録されているmilterを必要なときに自動的に起動するため、複数のmilterを利用する際に面倒なmilterの死活管理の手間を軽減します。
</p>

<h3>Webベースの設定UI</h3>

<div class='grid-x grid-padding-x'>
  <div class='cell medium-8'>
    <p>各milterの適用条件の設定はWebブラウザから簡単に行うことができます。変更された適用条件は即座に反映されます。
  </div>
  <div class='cell medium-4'>
    <img src="milter-manager/web-page-interface.png" alt="milter managerの設定インターフェース">
  </div>
</div>

<h3>ログの視覚化</h3>

<div class='grid-x grid-padding-x'>
  <div class='cell medium-8'>
    <p>
    迷惑メールは次々に新たな手法でやってきます。効率的に迷惑メール対策を行うには、その傾向を分析し、新たな対応策を検討することが重要です。 milter managerは、管理下のmilterの適用状況や適用結果をグラフ化する機能を持つため、データ活用が容易となっています。
  </div>
  <div class='cell medium-4'>
    <img src="milter-manager/graph.png" alt="ログを視覚化したグラフ">
  </div>
</div>

<h3 id="mta">Sendmail、Postfixに対応</h3>

<p>
milter managerはSendmail、Postfixに対応しているため、多くの環境で利用できます。
</p>

<h2 id='link'>関連サービス</h2>

<h4>Mozilla Thunderbird導入支援</h4>
<p>
迷惑メール対策をする場合は、サーバサイドだけではなく、クライアントサイドでも対策するとより効果的です。
迷惑メール対策機能の揃ったメールクライアントとして、クリアコードではMozilla Thunderbirdの導入支援も承っています。

<p>
<a href="mozilla/menu.html">Mozilla Thunderbird導入支援サービス</a>
