---
layout: default
main_title: IAjapan第7回迷惑メール対策カンファレンスで講演
sub_title:
type: topic
---

<p>5/19に開催される第7回迷惑メール対策カンファレンス（主催：財団法人インターネット協会）において、弊社須藤が「milterの有効活用 - milter manager」と題した講演を行います。
</p>

<p>
本講演では、<a href="../software/milter-manager.html">milter manager</a>を利用した効果的な迷惑メール対策を紹介します。
また「Q&Aパネルディスカッション 送信ドメイン認証を導入にあたって」ではパネリストとして参加します。
</p>

<p>第7回迷惑メール対策カンファレンスの詳細はこちら: <a href="http://www.iajapan.org/anti_spam/event/2009/conf0519/">IAjapan 第7回 迷惑メール対策カンファレンス</a></p>
