---
layout: default
main_title: ブラウザカスタマイズサービスの提供を開始
sub_title:
type: press
---

<p class='press-release-subtitle-small'>
セキュリティ強化、パフォーマンス改善など様々なご要望に応えるブラウザを提供します

<div class="press-release-signature">
  <p class="date">2020年6月29日</p>
  <p>株式会社クリアコード
</div>

<p>
株式会社クリアコード（本社：東京都豊島区、代表取締役：須藤 功平）は、様々な環境や利用目的にあわせた各種ブラウザのカスタマイズサービスの提供を開始します。

<p>
PC向けはもちろん、専用端末/専用サービス向けにFirefoxやChromeの拡張機能開発や、GeckoやWebKitといったレンダリングエンジンを使った組み込み機器向け専用ブラウザの開発まで対応します。

<h2 id='history'>ブラウザカスタマイズの実績</h2>

<p>
クリアコードは2006年の設立以来、ブラウザに関する様々なご相談を承ってまいりました。Internet ExplorerやFirefoxのツールバー開発やFirefoxの企業導入から組み込み機器へのレンダリングエンジンの移植まで対応実績は多岐にわたります。

<p>
<b>＜専用端末向け(PC)＞</b>

<p>
PCベース（Windows/Linux）の専用端末において、特定業務専用に特化させたブラウザをFirefoxベースで開発し提供します。また複数ブラウザを併用する場合は、ブラウザ切替ツールBrowser Selectorもあわせて提供します。

<p>
<b>＜専用端末向け(組み込み)＞</b>

<p>
組み込みLinux向けにFirefoxのブラウザエンジンであるGeckoの移植やWebKit関連の技術支援など、組み込み機器向けにブラウザ開発/サポートを行います。

<p>
<b>＜企業のクライアントPC向け＞</b>

<p>
Firefoxの企業導入とサポートはこれまでに50社以上に提供しています。

<p>
クリアコードの対応実績は以下のURLをご参照ください。

<p>
<a href='/services/browser-customize.html'>https://www.clear-code.com/services/browser-customize.html</a>

<h2 id='feature'>ブラウザカスタマイズサービスの特徴</h2>

<p>
クリアコードでは多種多様なブラウザに関するお客様の「セキュリティを高めたい」、「ユーザの負担を軽減したい」、「パフォーマンスを改善したい」など現状の課題をお知らせいただければ、その解決方法をお客様とともに検討します。

<p>
また、カスタマイズのために開発したプラグインなど成果物のほどんどをOSSとして公開します。

<p>
開発の成果物をOSSとして公開することによるお客様のメリットは以下の通りです。

<p>
<b><自社向けのカスタマイズをOSSとして公開する場合></b>

<ul>
<li>ユーザー単位のライセンス費用が不要ですので、グループ会社への展開などユーザ数が増える場合でも追加費用がかかりません。
<li>OSSとして公開することにより他のユーザが利用可能です。より多くのユーザがその成果物を利用することにより、成果物に対するフィードバックが得られ、品質向上につながります。
</ul>

<p>
<b>＜他社向けのカスタマイズのためのOSSを自社で利用する場合＞</b>

<ul>
<li>既存の成果物を利用できるため、開発費用を抑えることができます。
<li>他社で利用実績のあるカスタマイズですので、安心して導入いただけます。
</ul>

<h2 id='company'>クリアコードについて</h2>

<p>
クリアコードは、2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。

<p>
クリアコードの目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立の実現が当社の目的です。この理念は、我々がフリーソフトウェアの開発で学んだことがベースとなっています。

<p>
全文検索エンジンGroongaやFluentdをはじめとしたフリーソフトウェア本体の開発、ソースコードレベルのサポート、機能拡張、導入支援を行っています。

<h2 id='contact'>当リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード　担当：南<br>
TEL：03-5927-9440<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<p>
<b>【コーポレートサイト】</b>
<a href='/'>https://www.clear-code.com/</a><br>
<b>【本プレスリリース】</b>
<a href='/press-releases/20200629-browser-customize.html'>https://www.clear-code.com/press-releases/20200629-browser-customize.html</a>
