---
layout: default
main_title: クリアコードが所沢市都市型産業育成補助金に採択
sub_title:
type: press
---

<p class='press-release-subtitle-small'>
補助金を活用し、東京都豊島区から埼玉県所沢市に本社を移転

<div class="press-release-signature">
  <p class="date">2021年2月2日</p>
  <p>株式会社クリアコード
</div>

<p>
株式会社クリアコード（本社：埼玉県所沢市緑町2-6-5 芝崎ビル103、代表取締役：須藤功平）は、 2021年1月21日に所沢市が実施する「令和2年度　所沢市都市型産業等育成補助金」に採択されたことをお知らせします。なお、クリアコードは2020年12月14日より埼玉県所沢市にて事業を行っています。

<h2 id='overview'>所沢市都市型産業等育成補助金とは</h2>

<p>
市内経済の活性化、雇用の創出等を図るため、市内に於いて都市型産業等（製造業や情報通信業等）を営むため、新たに賃貸借により事務所等に入居する事業者に対し、その賃借料について補助金を交付するものです。所沢市内で5年以上継続して、事業を営むことが条件となります。補助対象期間は2年間で、補助金の額は最大240万円です。

<p>
<b>【所沢市都市型産業等育成補助金】</b>
<a href='https://www.city.tokorozawa.saitama.jp/kurashi/shigotojyoho/sangyo/kogyo/sangyo.html'>https://www.city.tokorozawa.saitama.jp/kurashi/shigotojyoho/sangyo/kogyo/sangyo.html</a>

<h2 id='background'>クリアコードにおける本社移転検討の経緯</h2>

2020年8月に、東京都豊島区から埼玉県所沢市への本社移転検討を開始しました。
検討を開始した理由は以下の2点です。

<h3>在宅勤務増加に伴うオフィス利用率の低下</h3>

<p>
政府による緊急事態宣言を受け、 2020年4月に全社的に在宅勤務を実施し、エンジニア全員が在宅勤務となりました。リモートの環境においても、開発/サポートといた業務への支障はなく、むしろ子育て世代の多い社員にとっては、よりよい働き方となりました。結果、オフィスの利用率は非常に低くなり、またオフィスの存在意義は開発用機材や書類の保管場所でしかなくなりました。

<h3>旧事務所のオーナー変更</h3>

<p>
旧事務所は東京都豊島区にあり、 JR山手線大塚駅から徒歩3分という利便性の高い立地で、都内での移動に便利でした。また、もともとオーナー家族がビルの最上階にお住まいで、管理も行き届いており、セキュリティ面の安心感もありました。しかしオーナーの変更に伴って退去されて以降は、そのメリットがなくなっていました。

<h2 id='benefit'>所沢市を移転先とした理由</h2>

<p>
移転先を検討するにおいて、所沢市をその候補としたのは以下の理由からです。

<h3>通勤時間が変わらない</h3>

<p>
クリアコードの社員は、西武池袋線、西武新宿線、 JR中央線、東武東上線など東京都西部ならびに埼玉県に多く住んでおり、所沢市の場合、旧事務所の時と通勤時間が変わらない、あるいは短くなる傾向にありました。

<h3>家賃が都内と比べて安い</h3>

<p>
所沢市は事務所用の物件数がさほど多くありませんが、クリアコードが求める15坪から20坪程度の事務所用の物件は家賃10万円から15万円程度で供給されていました。旧事務所の家賃から月額10万円以上の低下が見込めました。

<h3>交通アクセス</h3>

弊社最寄り駅の西武新宿線新所沢駅から池袋、高田馬場駅まではおよそ30分程度であり、都内へのアクセスにもストレスがありません。また所沢駅から羽田空港へはおよそ1時間に1本、 1日に17本のバスが運行しており、空港へのアクセスも容易です。

<h3>行政機関が集約</h3>

<p>
所沢市役所、所沢税務署、ハローワーク所沢、さいたま地方法務局所沢支所など行政機関が航空公園駅前に集約されており、各種届出をスムーズに行うことができます。

<h3>所沢市都市型産業等育成補助金とコスト削減</h3>

<p>
所沢市都市型産業等育成補助金により最大240万円まで家賃に対する補助が受けられる可能性があり、事務所家賃の低下とあわせて、 2年間でおよそ500万円の経費削減が見込まれる点が決め手となりました。また事務所面積が小さくなることにより、光熱費の削減も期待できました。

<h2 id='submit'>所沢市都市型産業等育成補助金の申請について</h2>

<p>
所沢市では令和3年度も都市型産業等育成補助金の募集を予定されています。この制度のご利用を検討される企業様において参考としていただくことを目的に、クリアコードで行った手続きについて紹介します。

<p>
□2020/8 所沢市内の移転先候補物件を調査

<p>
□2020/8 所沢市産業振興課に訪問し、事前相談。会社概要や決算書を持参し、事業内容や所沢市への移転検討の経緯を説明しました。また所沢市産業振興課から今後の手続きについてのご説明を受けました。これ以降、所沢市産業振興課の職員様には、補助金申請にあたってのアドバイスなど、多大なご支援をいただきました。

<p>
□2020/8 補助金交付申請書を提出しました。

<p>
□2020/9-10 本格的に物件探しを開始。物件探しは株式会社スリーウェーブ様にご協力いただき、十数件の内覧を経て、移転先物件を決定しました。 11月上旬には賃貸借契約を完了しました。

<p>
なお、スリーウェーブ様には今回を含めて過去3回の本社移転すべてをお手伝いいただいております。毎回、的確な物件選びと軽快なフットワーク、さらに専門家ならではのアドバイスに助けられています。

<p>
<b>【株式会社スリーウェーブ】</b>
<a href='http://www.threewave.co.jp/'>http://www.threewave.co.jp/</a>

<p>
□2020/11 補助金申請に必要な書類（会社説明資料や公的証明書等）を準備し、所沢市産業振興課に書類を提出しました。

<p>
□2021/1申請書類をもとに、所沢市にて書類審査が実施されました。当初予定では2021/1にプレゼン審査も予定されていましたが、政府による緊急事態宣言を受けて中止となりました。

<p>
□2021/1所沢市より都市型産業等育成補助金交付決定通知書をいただきました。

<h2 id='business'>所沢市での事業展開について</h2>

<p>
所沢市に移転してから1ヶ月ほど経過しましたが、従来と変わりなく事業を継続しています。補助金をはじめ、事務所移転によって得られたメリットを活用し、さらなる社員の雇用環境改善、リモートワークを前提とした社員の採用を積極的に進めます。また、所沢市をはじめとした埼玉県内の企業との取引拡大を図ります。

<h2 id='tokorozawa'>所沢市について</h2>

<p>
所沢市は、首都東京から30キロ圏内にあり、武蔵野台地のほぼ中央、東京都多摩北部に接する埼玉県南西部に位置しています。狭山丘陵付近に源を発する柳瀬川、東川などが流れています。気候は概ね温暖で、冬は北西からの季節風が吹きます。所沢市内には、鎌倉時代の末期に、新田義貞の軍勢と鎌倉幕府軍が戦った古戦場があり、江戸時代には三富開拓地割が柳沢吉保によって作られました。明治44年には、我が国ではじめて飛行場がつくられ、日本の航空発祥の地となっています。昭和25年、埼玉県で8番目に市制を施行しましたが、当時は人口4万2千人余りの、茶園や畑の広がる農業中心のまちでした。その後、首都東京に近く交通の利便性や優れた自然環境などから人口が増加し、現在では人口34万人を超える埼玉県南西部の中心都市として発展しています。

<p>
<b>【所沢市】</b>
<a href='https://www.city.tokorozawa.saitama.jp/'>https://www.city.tokorozawa.saitama.jp/</a>

<h2 id='clearcode'>クリアコードについて</h2>

<p>
クリアコードは、 2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。クリアコードの目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立の実現が当社の目的です。この理念は、我々がフリーソフトウェアの開発で学んだことがベースとなっています。

<p>
Apache Arrow、全文検索エンジンGroonga、 Fluentd、 Mozilla Firefox/Thunderbirdなどフリーソフトウェア本体の開発、ソースコードレベルのサポート、機能拡張、導入支援を行っています。また一昨年にリリースしたブラウザ切替ツールBrowserSelectorは大手企業様での採用が進んでいます。


<h2 id='contact'>当リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード　担当：南<br>
TEL：04-2907-4726<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<b>【コーポレートサイト】</b>
<a href='{{ "/" | relative_url }}'>https://www.clear-code.com/</a><br>
<b>【本プレスリリース】</b>
<a href='{{ page.url | relative_url }}'>https://www.clear-code.com/press-releases/20210202-relocation.html</a>
