---
layout: default
main_title: 書籍「まんがでわかるLinux シス管系女子」のシリーズ累計販売部数が4万部を突破
sub_title:
type: press
---

<div class="press-release-signature">
  <p class="date">2021年3月25日</p>
  <p>株式会社クリアコード
</div>

<p>
株式会社クリアコード（本社：埼玉県所沢市、代表取締役：須藤功平）は、クリアコード社員 結城洋志が執筆した書籍「まんがでわかるLinux シス管系女子」のシリーズ累計販売部数が4万部を突破したことをお知らせします。

<h2 id='overview'>「まんがでわかるLinux シス管系女子」シリーズについて</h2>

<p>
「まんがでわかるLinux シス管系女子」はLinux・UNIX系シェルコマンドおよびシェルスクリプトを初級～中級者向けに漫画形式で解説した技術書シリーズです。日経BP社刊「日経Linux」誌上にて2011年より連載中の「シス管系女子」および「#!シス管系女子」をまとめたものです。

<p>
<a target="_blank" href='https://system-admin-girl.com/'>
<img src='{% link /press-releases/20210325/bookcover.jpg %}' alt='Book covers for Manga de wakaru Linux'>
</a>

<p>
<b>【シス管系女子公式サイト】</b>
<a href='https://system-admin-girl.com/'>https://system-admin-girl.com/</a>

<h2 id='relation'>クリアコードとの関わり</h2>

<p>
クリアコードは社内研修・技術顧問などを通じて各社の技術力向上を支援しています。著者の結城もそのような技術支援業務に従事しており、業務で得た知見と本シリーズ執筆で得た知見を双方向に活かしています。

<p>
クリアコードが提供している社内研修を2つ紹介します。

<h3>OSS Gateワークショップ</h3>

<p>
OSS Gateワークショップは半日程度でOSS開発を体験できるワークショップです。 OSS開発に参加することによる技術力向上・プレゼンス向上を期待する各社向けに実施しています。

<p>
<b>【事例：富士通グループ様】</b>
<a href='{{ "/blog/2017/10/24.html" | relative_url}}'>https://www.clear-code.com/blog/2017/10/24.html</a><br>
<b>【事例：アカツキ様】</b>
<a href='{{ "/blog/2019/5/29.html" | relative_url}}'>https://www.clear-code.com/blog/2019/5/29.html</a>

<p>
OSS開発ではシェルを使う機会が多く、「まんがでわかるLinux シス管系女子」シリーズはワークショップ後のフォローアップに活用できます。

<h3>リーダブルコード研修</h3>

<p>
リーダブルコード研修はチームでリーダブルなコードを書くことを体験できる研修です。チームのソースコード品質向上を期待する各社向けに実施しています。

<p>
<b>【事例：ピクシブ様】</b>
<a href='{{ "/blog/2015/8/13.html" | relative_url }}'>https://www.clear-code.com/blog/2015/8/13.html</a>

<p>
シェルスクリプトはプロダクトのコードに使われることはほとんどありませんが、周辺のツールやシステム管理のために広く使われています。すぐにとりあえず動く状態にできるため、リーダブルでないスクリプトを使い続けてしまっていることが多くあります。「まんがでわかるLinux シス管系女子」シリーズはリーダブルなシェルスクリプトを書くために活用できます。

<h2 id='clearcode'>クリアコードについて</h2>

<p>
クリアコードは、 2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。クリアコードの目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立の実現が当社の目的です。この理念は、我々がフリーソフトウェアの開発で学んだことがベースとなっています。

<p>
Apache Arrow、全文検索エンジンGroonga、 Fluentd、 Mozilla Firefox/Thunderbirdなどフリーソフトウェア本体の開発、ソースコードレベルのサポート、機能拡張、導入支援を行っています。これらの業務で得た知見は技術支援という形で各社に提供しています。また一昨年にリリースしたブラウザ切替ツールBrowserSelectorは大手企業様での採用が進んでいます。

<h2 id='contact'>当リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード　担当：南<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<b>【コーポレートサイト】</b>
<a href='{{ "/" | relative_url }}'>https://www.clear-code.com/</a><br>
<b>【本プレスリリース】</b>
<a href='{{ page.url | relative_url }}'>https://www.clear-code.com/press-releases/20210325-system-admin-girl.html</a>
