---
layout: default
main_title: 背景
sub_title:
---

<h2>備考</h2>
<ul>
	<li>弊社<a href="../../philosophy/development/style.html" title="開発スタイル">開発スタイル</a>に沿ったサービスとなりますので、サービス検討の際はご確認ください。</li>
	<li>本サービスを提供する理由は、<a href="../blog/2012/12/18.html" title="DevLOVE 2012: 「リーダブルコードを読んだ後」 #devlove2012">DevLOVE 2012: 「リーダブルコードを読んだ後」 #devlove2012</a>で詳しく紹介しています。</li>
	<li>本サービスの対象とする開発言語として、Ruby、C、C++を想定しています。その他の開発言語についてはお問合せください。</li>
</ul>


<blockquote cite="http://adzuki34.blogspot.jp/2009/12/ruby02.html">
  <p>私たちができることはコードを書くこと。コードを通じて伝えられることは多いよ。そんな当たり前のことを当たり前のように思い出した。</p>
</blockquote>
