---
layout: default
main_title: リーダブルコードワークショップ
sub_title:
---

<h2>内容</h2>

<img src="{{ "/images/code-reader/readable-code-workshop-concept.png" | relative_url }}"
     class="eye-catcher">

<p>リーダブルコードワークショップは「チームメンバーのリーダブルコードを見つけて共有」することを体験するワークショップです。このワークショップで体験した内容がチームにとって有益だと判断したらぜひ「チームメンバーのリーダブルコードを見つけて共有」という活動をチームの文化に取り入れてください。</p>

<h2>対象者</h2>

<p>このワークショップは次のようなチームに向いています。</p>
<ul>
	<li>リーダブルコードの内容をチームで実践したいのにできていない</li>
	<li>リーダブルコードを書くことが当たり前と考える新人を育てたい</li>
</ul>

<h2>実施レポート</h2>

<p>このワークショップを実際に実施した際のレポートがあります。このワークショップに申し込むかどうかの参考にしてください。</p>

<ul>
	<li>2015年8月11日開催分（参加企業：<a href="http://www.pixiv.co.jp/">ピクシブ株式会社</a>・<a href="http://www.esm.co.jp/">株式会社永和システムマネジメント</a>）：
		<ul>
			<li><a href="/blog/2015/8/13.html">「チームメンバーのリーダブルコードを見つけて共有」を体験 - ピクシブさんでリーダブルコードワークショップを開催 - ククログ(2015-08-13)</a></li>
			<li><a href="http://inside.pixiv.net/entry/2015/08/12/110149">チームにとってのリーダブルコード - pixiv inside</a></li>
		</ul>
	</li>
</ul>

<h2>お申し込み方法</h2>

<p>次のリンク先にあるお問い合わせフォームからお申し込みください。申し込みではなく質問したい場合も同じお問い合わせフォームからお問い合わせください。</p>

<ul class="detail-links">
	<li><a href="../../contact/?type=code-reader" title="リーダブルコードワークショップについて問い合わせる">問い合わせる</a></li>
</ul>

<h2>参考情報</h2>

<p>このワークショップは「<a href="../">コードリーダー育成支援サービス</a>」の一環です。</p>
